body
{
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Images/lottery_img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_dashboard{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color:bisque;
    margin-top: 0px;
    margin-right: 10px;
    display: block;
}

.nav_dashboard header{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font: bold;
    color: black;
    padding-top: 10px;
    border-radius: 5rem;
}

.UserDashboard{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 180px;
    padding: 50px;
    height: 50%;
    background-color:transparent;
}

.Userdetails{
    display: block;
}

.User_section{
    display: flexbox;
    padding: 2px;
    font-size: 100%;
    font-weight: 500;
    color:black;
}

.User_section .user-name{
    padding: 5px;
    width: 50%;
    height: 50%;
    margin: 5px;
}
