*,*::after,*::after
{

    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
html{


    font-size:62.5%;
    box-sizing: border-box;
}


body
{
    margin: 0;
    padding: 0 ;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/templates/Images/Appointment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    perspective: none;
    overflow: hidden;
}

.nav_dashboard{
    width: 100%;
    height: 80px;
    background-color:burlywood;;
    display :flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    
    
}
.margin
{

    margin-right: 2rem;
    text-decoration:none;
    color:black;
    font-weight: 50rem;
}
.back_screen
{

    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.9);
    height:100vh;
    width:100%;
    z-index: 1;

}

.user_profile
{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
height:50rem;
width:80rem;
z-index: 2;
background-color: white;

}
.close
{
    display: inline-block;
    top:1rem;
    left:75rem;
    font-size:4rem;
    text-decoration: none;
    color:black;

}

.nav_dashboard header{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font: bold;
    color: black;
    padding-top: 10px;
    border-radius: 5rem;
}

.UserDashboard{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 50px;
    padding: 50px;
    height: 50%;
    background: rgba(222,184,135,0.8);
    border-color: black;
    border-radius: 10rem;
    border-width: 5px;
}
.User_section{
    display:block;
    padding: 2px;
    font-size: 15px;
    font-weight: 500;
    align-items:center;
}
.User_section .user_info{
    padding-left: 300px;
    width: 70%;
    height: 50%;
    font: bold;
    font-weight: 600;
    margin-left: 0px;
    text-align: left;
}

.User_section .user_info input{
    width: 200px;
    height: 25px;
}

.User_section .user_info select{
    width: 200px;
    height: 25px;
}

.User_section .user_info .booking_btn{
    height: 30px;
    width: 198px;
    font-weight: bold;
    color: white;
    background-color:dodgerblue;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}


.button_ticket{
    display:inline-flex;
    align-content:space-between;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(243, 180, 102);
}
.button_ticket :hover{
    transform: translateY(-5px);
}

#user-name
{   
    height:3rem;

}
