<html>


<head>
    <link rel="stylesheet" href="/static/register.css" >

</head>

<body>

    <header>
        <nav class="nav" id="back-to-nav">
            <div >
                <a href="#" class="log-link">E-Ticket-Lottery</a>
            </div>
            <div>
                <a href="#open-register" class="nav-link">Register</a>
                <a href="#open-login" class="nav-link">Login</a>
            </div>

        </nav>
    </header>

    <main class="main">

        <div class="register " id="open-register">

            <form action="get_input.py" method="post"  taget="_blank" class="register-form">

                <a href="#back-to-nav" class="close">&times</a>
                <h1 class="to-register">Register</h1>
                <input class="input-fields" type="text" value="" name="firstName" placeholder="First Name"><br>
                <input class="input-fields" type="text" value="" placeholder="Last Name"><br>
                <input class="input-fields" type="email" placeholder="Email"><br>
                <input class="input-fields" type="phone" placeholder="Phone Number"><br>
                <input class="input-fields" type="pasword" placeholder="Password">
                <input class="input-fields submit" type="submit" value="Register">


            </form>
        </div>

        
        <div class="login"  id="open-login">

            <form action="" method="post" class="login-form">

                <a href="#back-to-nav" class="close-login">&times</a>
                <h1 class="to-login">Login</h1>
                <input class="input-fields" type="email" value="" placeholder="Email Id"><br>
                <input class="input-fields" type="password" value="" placeholder="Password"><br>
                <input class="input-fields submit" type="submit" value="Login">



            </form>
        </div>

        </main>
</body>

</html>