<html>


<head>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}" >
<link rel="stylesheet" type="text/css" href="F:\new pull\Online-Booking-Appointment\static\login.css" >

</head>

<body>

    <div class="login"  id="open-login">

        <form action="http://127.0.0.1:5000/login_db" method="post" class="login-form">
    
            
            <h1 class="to-login">Login</h1>
            <input class="input-fields" type="email" value="" name="login_email" placeholder="Email Id"><br>
            <input class="input-fields" type="password" value="" name="login_password"  placeholder="Password"><br>
            <input class="input-fields submit" type="submit" value="Login">
    
    
    
        </form>
        
        



    </div>

</body>

</html>





