<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/userdashboard.css" >
        <title>UserDashboard</title>
    </head>

    <body>
        <div class="nav_dashboard">
            <header>Lottery E-Ticket Booking</header>
        </div>
        <nav class="UserDashboard">
                <div class="User_section">
                    <div class="user_info">User Name :
                        <input type="text" value="" id="user-name">
                    </div><br>
                    <div class="user_info">Age :
                        <input type="number" value="0" min="18" max="60" id="age">
                    </div><br>
                    <div class="user_info">Date & Time :
                        <input type="datetime-local" value="" id="date_time" >
                    </div><br>
                    <div class="user_info">Lottery Type :
                        <select>
                            <option>{{value1}}</option>
                            <option>{{value2}}</option>
                            <option>{{value3}}</option>
                        </select>
                    </div><br>
                    <div class="user_info" id="user_button">
                        <input type="button" value="Cancel Ticket" class="button_ticket">
                        <input type="button"  value="Book Ticket" class="button_ticket">
                    </div>
                </div>
        </nav>
    </body>

</html>