<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='userdashboard.css')}}" >
        <link rel="stylesheet" href="D:\DBS\New folder\static\userdashboard.css" >

        <title>UserDashboard</title>
    </head>

    <body>
        <div class="nav_dashboard">

            <a href="#" class = "user_log margin">Online Booking</a>

            <div class="user_update">

               
                <a href="#" class = "user_log margin">Update Profile</a>
                 
                    
                 
            </div>

            {% block content %} {% endblock %}
            
            
            
        </div>
        <nav class="UserDashboard">
                <div class="User_section">
                    <div class="user_info">User Name :
                        <input type="text" value="" id="user-name">
                    </div><br>
                    <div class="user_info">Age :
                        <input type="number" value="0" min="18" max="60" id="age">
                    </div><br>
                    <div class="user_info">Date & Time :
                        <input type="datetime-local" value="" id="date_time" >
                    </div><br>
                    <div class="user_info">Lottery Type :
                        <select>
                            <option>{{value1}}</option>
                            <option>{{value2}}</option>
                            <option>{{value3}}</option>
                        </select>
                    </div><br>
                    
                    <table class="user_info" id="user_button">
                        <tr>
                         <td>
                             <form action="http://127.0.0.1:5501/templates/userdashboard.html" method="post">
                                 <script
                                   src="https://checkout.stripe.com/checkout.js"
                                   class="stripe-button"
                                   data-key="pk_test_51MFZYYH7bQegTcniM66JxzWD6urqexKuHxZJSU2gNwvvYSVPiRmKJilGYmgzd1RE4R2WZ6swrneSmrNQqxgfPX6y00p3c6q36i"
                                   data-name="Make Payment"
                                   data-description="For Online Booking"
                                   data-amount="2000"
                                   data-currency="eur"
                                   data-label="Book Now">
                                 </script>
                               </form>
                         </td>
                        
                       
                     </div>
                 </table>
         </nav>
     </body>
 
 </html>