body
{
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/templates/Images/Appointment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_dashboard{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color:burlywood;
    margin-top: 0px;
    margin-right: 10px;
    display: block;
}

.nav_dashboard header{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font: bold;
    color: black;
    padding-top: 10px;
    border-radius: 5rem;
}

.UserDashboard{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 140px;
    padding: 50px;
    height: 50%;
    background: rgba(222,184,135,0.8);
    border-color: black;
    border-radius: 10rem;
    border-width: 5px;

}
.User_section{
    display:block;
    padding: 2px;
    font-size: 100%;
    font-weight: 500;
    align-items:center;
}

.User_section .user_info{
    padding-left: 320px;
    width: 50%;
    height: 50%;
    font: bold;
    font-weight: 600;
    margin-left: 0px;
    text-align: left;
}

.button_ticket{
    display:inline-flex;
    align-content:space-between;
    padding: 5px;
    background-color: rgb(243, 180, 102);
}

.button_ticket :hover{
    transform: translateY(-5px);
}
